/* Estilo para exibir o conteúdo do documento */
.conteudo-documento {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 350px;  /* Define a largura máxima */
    width: 100%;       /* A largura vai até o limite de 350px */
    margin-top: 10px;  /* Margem superior para separar do formulário */
  }
  
  /* Ajuste para imagem */
  img {
    max-width: 100px;
    max-height: 100px;
    height: 100%;
    width: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  